@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Questrial');

body {
  font-family:'Montserrat Alternates', sans-serif;
  color:turquoise;
}

header{
  background-image: url(images/banner2.jpg);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}
nav a {
  color: black;
  font-size: 20px;
}

.list-video-items {
  display: flex;
  list-style-type: none;
}
.link-view-more {
  color: #79B8F3;
}

.link-view-more:hover {
  color: #79B800;
}

.list-video--title {
  color: gray;
}
.list-video--items {
  display: flex;
  list-style-type: none;
}

.list-video--image {
  width: 268px;
  height: 151px;
  cursor: pointer;
}
.list-trailer{
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  
  width: 420px;
  height: 325px;
}

.closeTrailer {
  display: none;
  color: red;
  float: right;
  font-size: 50px;
  cursor: pointer;
}